/*
 The two paragraphs p tags share same id name schools 
 the decendant selectors matches all selectors that are descendants of a specified element
 ">" is a child selector. we are targeting the anchor tag and styled t he color with alpha and rgb combination of my interest.
 */
#schools> a{
color:rgba(19, 83, 7, 0.79);
}
/* 
The descendant selectors matches all selectors that are descendants of a specified element 
descendant selector of proporty color rgb combination of my desired color.
and specifing the font-size of the anchor children elements of header.
 */
header>a {
font-size: 30px;
color: rgba(232, 8, 8, 0.763);
}
