.cri{
color:crimson ;
}
.gree{
color:green;
}
.yell{
color:rgba(218, 165, 32, 0.865)
}
.bur{
    color:rgba(255, 166, 0, 0.555)

}
.red{
    color:red;

}
#yes{
    background-color:green;
    color:white;
}
#no{
    background-color:red;
    color:white;

}