.cri{
color:crimson ;
}
.gree{
color:darkgreen;
}
.yell{
color:rgba(153, 205, 50, 0.685)
}
.bur{
    color:rgba(255, 166, 0, 0.879)

}
.red{
    color:red;

}
#yes{
    background-color:green;
    color:white;
}
#no{
    background-color:red;
    color:white;

}