
    body{
        background-color: beige;
    }
    /*  */
    button{
        font-size: 30px;;
    }
    /*  */
    h1,h2{
        color:crimson;
    }
    /*  */
    signwell{
        /*  */
        background-color: pink;
        color: blue;

    }
    /*  */
    .tag{
        color:purple
    }
    /*  */
     .post a{
     color:purple    
     }
/*  */
     footer >a {

     color: orange;
    }
    /*  */
    a [href*="google"]{
        color:darkorange
    }
    /*  */
    button:hover{
        background-color: red;
        color:aquamarine;
    }
    /*  */
    .post button:active{
        background-color: green;;
    }
    /*  */
    h2::first-letter{
        font-size: 50px;;
    }
    /*  */
    p::first-line{
        color:green;
    }