     /* body is an element selector ,and it is gonna affect 
       all the contents with in the body , here i am giving 
       abeige color to the body.
      */
    body{
        background-color: beige;
    }
    /* button is an element selector, which is used to target all the 
    button elements here is gonna affects all the buttons unless they 
    are overriden by id selectors ,class selector or any other means.
    so here we are  resizing the font size of the button text  */
    button{
        font-size: 30px;;
    }
    /*this selector is targeting all h1 and h2 elements
     that are inside the body so here any text inside the 
     h1 and h2 tag is given crimson color (color property of red). */
    h1,h2{
        color:crimson;
    }
    /*  */
       #signup{
        /*  id selectors are usually working by matching an element
         based on the value of the element,s id attribute , id element is
          unique,symbolized with hash or pound (#) followed by the id of 
          the element so here the button with id signup is given color blue
           and pink for the  background color.   */
        background-color: pink;
        color: blue;

    }
     /* this tag class with propory color of purple */
          .tag{
           color:purple
    }
       /* this a descendant selector class post with a child anchor propory color of purple */
         .post a {
       color:hotpink;   
    }
        /* this sec class with propory color of green */

       .sec{
        color:green;
           }
        /* this Descendant selector which selects all anchor  with propory color of purple */
       footer > a {

         color: orange;
               }
         /*
         attribute selector looks for an anchor tag targets 
         a link href that contains "google" and specifing the color  to darkorange
         */
          a[href*="google"]{
            color:darkorange;
              }
         /* here on hover teh button color changes the background to red and color to aquamarine */
       button:hover{
        background-color: red;
        color:aquamarine;
         }
       /* 
       active selector is used to select and style the active link we are setting the background to green 
       */
         .post button:active{
        background-color: green;;
                             }
    /*pseudo element to change the first letter of the h2 header to 50px */
         h2::first-letter{
        font-size: 50px;;
                          }
    /*pseudo element  to change the first line of the first paragraph to green color*/
    p::first-line{
        color:green;
    }
 