
    body{
        background-color: beige;
    }
    /*  */
    button{
        font-size: 30px;;
    }
    /*  */
    h1,h2{
        color:crimson;
    }
    /*  */
    signwell{
        /*  */
        background-color: pink;
        color: blue;

    }
    /*  */
    .tag{
        color:purple
    }
. post a{
 color:purple    
}
/*  */
footer >a {

color: orange;
    }
    .cimson{
        
    }